body {
    background-color: black;
    margin: 0;
    font-family: sans-serif;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;     /* elementos en columna */
    align-items: center;        /* centra horizontalmente */
    justify-content: center;    /* centra verticalmente */
    gap: 2rem;                  /* Espacio de 2rem entre los elementos */
  
    background-color: rgba(217, 217, 217, 0.5);
    background-image: url('https://i.imgur.com/aTer0Gy.png');
    background-size: 70% auto;  /* Tamaño del fondo: 70% de ancho y ajustado en alto */
    background-position: center;
    background-repeat: no-repeat;
  
    width: 50vw; /* Ancho del contenedor es 50% del ancho de la ventana */
    height: 80vh;  /* Alto del contenedor es 80% de la altura de la ventana */
    margin: 20vh auto;  /* Deja un margen de 20vh (20% de la altura) arriba y abajo y centra horizontalmente */
    border-radius: 25px;
  }
  
  .flex-input {
    width: 60%; /* Los inputs ocupan el 60% del ancho del contenedor */
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 15px;
    border: none;   /* Elimina el borde predeterminado */
    font-size: 1rem;    /* Tamaño de fuente de 1rem */
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .flex-button {
    width: 60%; /* El botón ocupa el 60% del ancho del contenedor */
    height: 2.5rem;
    border-radius: 15px;
    border: none;
    background-color: #0D6EFD;
    color: white;
    font-weight: bold;
    cursor: pointer;    /* Cambia el cursor a puntero cuando pasa sobre el botón */
    font-size: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .flex-button:hover {
    background-color: #0b5ed7;
  }
  